.main-button {
  width: 100%;
  padding: 12px;
  border: 1px solid $blue-accent;
  border-radius: 5px;
  background: $blue-accent;
  color: $main-bg-color;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  transition:
    background 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:hover {
    background: $main-bg-color;
    color: $blue-accent;
  }
}
